body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.mainConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logoTrybetubes {
  width: 200px;
}

.containerLogin {
  position: absolute;
  width: 30%;
  height: 200px;
  top: 200px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.loginStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputLogin {
  padding: 12px;
  position: absolute;
  width: 80%;
  height: 12px;
  top: 50px;
  background: #FFFFFF;
  border: 1px solid #E1E5EB;
  border-radius: 0px;
}

.buttonLogin {
  padding: 2px;
  position: absolute;
  width: 88%;
  height: 30px;
  top: 100px;
  background: #003BE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color: white;
}

.album-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
  justify-content: center;
}

.card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 5px;
  overflow: hidden;
  width: 200px;
}

.card-image {
  width: 200px;
  height: 100px;
}

.card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.card-title {
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 12px;
}

.card-subtitle {
  color: #6c757d;
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 8px;
}

.albunsMusics {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listMusics {
  margin-top: 40px;
  overflow: hidden; 
  overflow-y: scroll;
  height: 550px; 
  width: 30%;
}