body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  box-sizing: border-box;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.mainConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logoTrybetubes {
  width: 200px;
}

.containerLogin {
  position: absolute;
  width: 30%;
  height: 200px;
  top: 200px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.loginStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputLogin {
  padding: 12px;
  position: absolute;
  width: 80%;
  height: 12px;
  top: 50px;
  background: #FFFFFF;
  border: 1px solid #E1E5EB;
  border-radius: 0px;
}

.buttonLogin {
  padding: 2px;
  position: absolute;
  width: 88%;
  height: 30px;
  top: 100px;
  background: #003BE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color: white;
}

.album-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
  justify-content: center;
  margin-bottom: 30px;
}

.card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 5px;
  overflow: hidden;
  width: 200px;
}

.card-image {
  width: 200px;
  height: 100px;
}

.card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.card-title {
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 12px;
}

.card-subtitle {
  color: #6c757d;
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 8px;
}

.albunsMusics {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listMusics {
  margin-top: 40px;
  overflow: hidden; 
  overflow-y: scroll;
  height: 500px; 
  width: 50%;
}

.musicCardList {
  display: flex;
  width: 100%;
}

.itemCard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.itemCardName {
  width: 100%;
  margin-right: 3px;
}

.header {
  display: flex;
  flex-direction: column;
}

.logoHeader {
  width: 80px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.containerUser{
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 20px;
  width: 120px;
  border-radius: 50px;
  background-color: #FFFFFF;
  padding: 3px;
}

.avatar {
  width: 20px;
}

.userName {
  margin-left: 5px;
}

.header1 {
  display: flex;
  background-color: rgba(2, 48, 49, 1);
  justify-content: space-between;
  align-items: center;
}

.header2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.linkSearch, .linkFavorites, .linkProfile {
  background-color: rgba(3, 107, 82, 1);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}

.link {
  text-decoration: none;
  color: white;
}

.containerFormSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formSearch {
  display: flex;
  margin-top: 30px;
}

.inputFormSearch {
  width: 300px;
  height: 25px;
  margin-right: 8px;
}

.buttonFormSearch {
  background-color: rgba(0, 59, 229, 1);
  color: white;
}

.favoritePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}